.vscode
node_modules
playground/node_modules
*.log*

dist
.nuxt
.output
.data
.build-*
docs

.env

# Testing
reports
coverage
*.lcov
.nyc_output

worktree*/**/*

!flake.lock
.direnv
src/assets/variables.scss
**/*.wip.*
test.css
todo.md

*storybook.log
components.d.ts
.direnv
.devenv
