@tailwind base;

@layer base {
	.v-enter-active,
	.v-leave-active {
		transition: opacity 0.5s ease;
	}

	.v-enter-from,
	.v-leave-to {
		opacity: 0;
	}

	.list-move,
	/* apply transition to moving elements */
	.list-enter-active,
	.list-leave-active {
		transition: all 0.5s ease;
	}

	.list-enter-from,
	.list-leave-to {
		opacity: 0;
		transform: translateX(30px);
	}

	/* ensure leaving items are taken out of layout flow so that moving
			animations can be calculated correctly. */
	.list-leave-active {
		position: absolute;
	}

	/* prevent accidental selection/clicks on moving/disappearing elements */
	.list-move,
	.list-leave-to {
		pointer-events: none;
		user-select: none;
	}

	/* Animations */
	@keyframes animation-blink {
		0% {
			opacity: 0;
		}

		25% {
			opacity: 1;
		}

		75% {
			opacity: 1;
		}

		100% {
			opacity: 0;
		}
	}
}
