*, *::before, *::after {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color:var(--textLink);;
	outline: none;
	&:visited {
		color:var(--textLinkVisited);;
	}
	&:hover, &:focus{
		color:var(--textLinkFocused);;
	}
}

html, body, #app {
	height:100%;
}

body {
	margin: 0;
	font-size: var(--fontSizeNormal);
	// line-height: var(--fontLineHeight);
}

body {
	font-family: var(--fontFamily);
	color: var(--textNormal);
	background: var(--bg) !important;
}

ol, ul {
	list-style: none;
}

button, input, svg, span, div, table {
	all: unset;
	display: revert;
	box-sizing: border-box;
}

input[type="checkbox"] {
	all:revert;
}

input:-webkit-autofill::first-line, input:autofill {
	font-family: var(--fontFamily);
	font-size: 1em;
	font-weight: inherit;
}

th {
	text-align:left;
}
// table, thead, tr, td {
// 	padding: 0;
// 	// border-collapse: collapse;
// }

// *:focus {
// 	outline: 1px solid red;
// }
@keyframes animation-blink {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


.v-enter-active,
.v-leave-active {
	transition: opacity var(--anim) ease;
}

.v-enter-from,
.v-leave-to {
	opacity: 0;
}

.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
	transition: all var(--anim) ease;
}

.list-enter-from,
.list-leave-to {
	opacity: 0;
	transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
	position: absolute;
}
/* prevent accidental selection/clicks on moving/disappearing elements */
.list-move,
.list-leave-to {
	pointer-events:none;
	user-select: none;
}
