@custom-variant dark (&:where(.dark, .dark *));
@custom-variant outlined {
	.group.outlined &:focus-visible {
		@slot;
	}
	.group.outlined-visible &:focus-visible {
		@slot;
	}
}
@custom-variant outlined-focus {
	.group.outlined &:focus {
		@slot;
	}
}
@custom-variant outlined-within {
	.group.outlined &:focus-within {
		@slot;
	}
}
@custom-variant dark-outlined {
	.group.dark.outlined &:focus-visible {
		@slot;
	}
	.group.dark.outlined-visible &:focus-visible {
		@slot;
	}
}
@custom-variant dark-outlined-focus {
	.group.dark.outlined &:focus {
		@slot;
	}
}
@custom-variant dark-outlined-within {
	&:group.dark.outlined &:focus-within {
		@slot;
	}
}

@utility focus-outline-within {
	@reference outlined-within:outline-2 outlined-within:outline-accent-500 outlined-within:outline-offset-2;
}

@utility focus-outline {
	@reference outlined:outline-2 outlined:outline-accent-500 outlined:outline-offset-2;
}
@utility focus-outline-no-offset {
	@reference outlined:outline-2 outlined:outline-accent-500;
}
@utility focus-outline-hidden {
	@reference outlined:outline-none;
}

/* .bg-squares-gradient { */

/* } */

@utility bg-squares-gradient {
	/* local defaults */
	--_square: var(--squareSize, 5px);
	--_double_square: calc(2*var(--_square));
	--_light_square: var(--lightSquare, var(--color-white));
	--_dark_square: var(--darkSquare, var(--color-black));
	background-color: var(--_light_square);
	background: repeating-conic-gradient(var(--_dark_square) 0% 25%, var(--_light_square) 0% 50%) 50% / var(--_double_square) var(--_double_square);
}

@utility square-light-*  {
	--lightSquare: --value(--color- *);
}
@utility square-dark-* {
	--darkSquare: --value(--color- *);
}

@utility square-size-* {
	--squareSize: calc(--value(integer) * 1px);
}

@utility bg-bars-gradient {
	/* local defaults */
	--_bg_color: var(--bars-bg-color, var(--color-accent-700));
	--_fg_color: var(--bars-fg-color, var(--color-accent-800));
	--_angle: var(--bars-angle, 45deg);
	--_fg_width: var(--bars-fg-width, 50%);
	--_bg_width: calc(100% - var(--_fg_width));

	background-color: var(--_bg_color);
	--_pos_1: calc(var(--_bg_width)/2);
	--_pos_2: calc(var(--_bg_width)/2 + var(--_fg_width)/2);
	--_pos_3: calc(var(--_bg_width) + var(--_fg_width)/2);
	background-image:
		repeating-linear-gradient(
			var(--_angle),
			var(--_bg_color),
			var(--_bg_color) var(--_pos_1),
			var(--_fg_color) var(--_pos_1),
			var(--_fg_color) var(--_pos_2),
			var(--_bg_color) var(--_pos_2),
			var(--_bg_color) var(--_pos_3),
			var(--_fg_color) var(--_pos_3),
			var(--_fg_color)
		);
}

@utility bars-angle-* {
	--bars-angle: var(--value(integer) * 1deg);
}

@utility bars-fg-* {
	--bars-fg-color: --value(--color-*);
}
@utility bars-bg-* {
	--bars-bg-color: --value(--color-*);
}
@utility bars-w-* {
	--bars-fg-width: calc(--value(integer) * 1%, 50%);
}

@utility scrollbar-hidden {
	/* IE and Edge */
	-ms-overflow-style: none;
	/* Firefox */
	scrollbar-width: none;
	/* Safari and Chrome */
	&::-webkit-scrollbar {
		display: none;
	}
}
@utility styled-scrollbar {
	/* local defaults */
	--_scrollbar_width: var(--scrollbar-width, calc(3 * var(--spacing)));
	--_scrollbar_border_width: var(--scrollbar-border-width, calc(var(--spacing)/2));
	--_scrollbar_color: var(--scrollbar-color, --alpha(var(--color-accent-500) / 40%));
	--_scrollbar_hover_color: var(--scrollbar-hover-color, --alpha(var(--color-accent-500) / 80%));
	--_scrollbar_bg_color: var(--scrollbar-bg-color, var(--color-bg));

	.dark & {
		--_scrollbar_bg_color: var(--scrollbar-bg-color, var(--color-fg));
	}
	/* Chrome, Edge and Safari */
	&::-webkit-scrollbar {
		width: var(--_scrollbar_width);	
		height: var(--_scrollbar_width);
	}
	&::-webkit-scrollbar-corner {
		background-color: transparent;
	}
	&::-webkit-scrollbar-track {
		border-radius: var(--_scrollbar_width);
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: var(--_scrollbar_width);
		background-color: var(--_scrollbar_color);
		border: var(--_scrollbar_border_width) solid var(--_scrollbar_bg_color);
	}

	&::-webkit-scrollbar-thumb:hover {
		border-radius: var(--_scrollbar_width);
		background-color: var(--_scrollbar_hover_color);
		cursor: pointer;
	}

	&::-webkit-scrollbar-thumb:active {
		border-radius: var(--_scrollbar_width);
		background-color: var(--_scrollbar_hover_color);
	}
}

@utility styled-scrollbar-w-* {
	--scrollbar-width: --value(integer);
}

@utility styled-scrollbar-border-w-* {
	--scrollbar-border-width: --value(integer);
}

@utility styled-scrollbar-* {
	--scrollbar-color: --value(--color-*);
}
@utility styled-scrollbar-bg-* {
	--scrollbar-bg-color: --value(--color-*);
}

/** only for textareas */
@utility styled-resizer {
	--_resizer_width: var(--resizer-width, 8px);
	--_resizer_color: var(--resizer-color, var(--color-neutral-300));
	.dark & {
		--_resizer_color: var(--resizer-color, var(--color-neutral-700));
	}
	&::-webkit-resizer {
		border-width: var(--_resizer_width);
		border-style: solid;
		border-top-color: transparent;
		border-right-color: var(--_resizer_color);
		border-bottom-color: var(--_resizer_color);
		border-left-color: transparent;
	}
}

@utility styled-resizer-w-* {
	--resizer-width: --value(integer);
}
@utility styled-resizer-color-* {
	--resizer-color: --value(--color-*);
}


@utility content-vertical-holder {
	--tw-content: "\200b";
	content: var(--tw-content);
}

@utility no-touch-action {
	touch-action: none;
}

@utility bg-transparency-squares {
	@reference bg-squares-gradient square-light-white square-dark-neutral-300 square-size-6;
}

@utility link-like {
	@apply cursor-pointer hover:text-accent-500;
}

